<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="icon" type="image/png" href="../static/logo.png" sizes="48x48">

    <title>Grandpa Library</title>
  </head>
  <body>
    <div class="mx-auto mt-5" style="width: 300px;">
      <h1>Grandpa Library</h1>
    </div>

    <div class="mx-auto mt-5" style="width: 300px;">
      <nav aria-label="Search results pages">
        <ul class="pagination justify-content-center">
          {% if current_page == 1 %}
            <li class="page-item disabled">
              <a class="page-link" href="../pages/index{{ current_page - 1 }}.html" tabindex="-1" >Назад</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="../pages/index{{ current_page - 1 }}.html" tabindex="-1" >Назад</a>
            </li>
          {% endif %}
            {% for page_number in range(1, total_pages + 1) %}
              {% if page_number == current_page %}
                <li class="page-item active">
                  <a class="page-link" href="../pages/index{{page_number}}.html">{{page_number}}</a>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="../pages/index{{page_number}}.html">{{page_number}}</a>
                </li>
              {% endif %}
            {% endfor %}
              {% if current_page == total_pages %}
                <li class="page-item disabled">
                  <a class="page-link" href="../pages/index{{ current_page + 1 }}.html" tabindex="-1" >Вперёд</a>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="../pages/index{{ current_page + 1 }}.html" tabindex="-1" >Вперёд</a>
                </li>
              {% endif %}
        </ul>
      </nav>
    </div>

    <div class="container">
      <div class="row">
        {% for book_descriptions in chunked_books %}
          {% for book_description in book_descriptions %}
            <div class="col-6">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    {% if book_description.img_src.startswith("/") %}
                      <img src="..{{book_description.img_src|urlencode}}" class="card-img" alt="Cover {{book_description.title}}">
                    {% else %}
                      <img src="../static/nopic.gif" class="card-img" alt="empty book cover">
                    {% endif %}
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{book_description.title}}</h5>
                      <p class="card-text">{{book_description.author}}</p>
                      <h6><span class="badge badge-light">{{book_description.genres[0]}}</span></h6>
                      <h6><span class="badge badge-light">{{book_description.genres[1]}}</span></h6>
                      {% if book_description.book_path.startswith("/") %}
                        <p><a href="..{{book_description.book_path|urlencode}}" target="_blank">Читать</a><p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>

    <script src="../static/jquery-3.5.1.slim.min.js"></script>
    <script src="../static/bootstrap.bundle.min.js"></script>

  </body>
</html>